.box{
    background-color: black;
}
.heading{
    text-align: center;
    font-size: 60px;
    font-style:initial;
    color: white;

}
.container1{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container2{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container3{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container4{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container5{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container7{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container8{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container9{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container10{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container11{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container12{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container13{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container14{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container15{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container16{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container17{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container18{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container19{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}
.container20{
    padding:20px;
    border-radius: 10px;
    width: 230px;
    background-color: grey;
}